<nav id="search-section">
    <h2>Pesquisar Notícias</h2>
    <form action="/search" method="GET">
      <label for="search-input">Buscar Notícias:</label>
      <input type="text" id="search-input" name="search">
      <button type="submit">Buscar</button>
    </form>
  </nav>